@font-face {
  font-family: 'Ata Rounded';
  src: url('../fonts/Ata-Rounded-45-Light.woff2') format('woff2'),
    url('../fonts/Ata-Rounded-45-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ata Rounded';
  src: url('../fonts/Ata-Rounded-75-Bold.woff2') format('woff2'),
    url('../fonts/Ata-Rounded-75-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ata Rounded';
  src: url('../fonts/Ata-Rounded-55-Regular.woff2') format('woff2'),
    url('../fonts/Ata-Rounded-55-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ata Rounded';
  src: url('../fonts/Ata-Rounded-85-Extra-Bold.woff2') format('woff2'),
    url('../fonts/Ata-Rounded-85-Extra-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ata Rounded';
  src: url('../fonts/Ata-Rounded-95-Black.woff2') format('woff2');
    //url('../fonts/Ata-Rounded-95-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ata Rounded';
  src: url('../fonts/Ata-Rounded-65-Medium.woff2') format('woff2'),
    url('../fonts/Ata-Rounded-65-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
