.accordions {
	&__item {
		background-color: $white;
		border-radius: 1.6rem;
		border: 0.1rem solid $border-cart;
		width: 100%;
		overflow: hidden;
		@media (min-width: 768px) {
			max-width: 88.1rem;
			width: 100%;
			margin: 0 auto;
		}
		& + & {
			margin-top: 0.8rem;
		}
	}
	&__icon {
		height: 2.4rem;
		position: relative;
		flex: none;

		&::before {
			content: '';
			position: absolute;
			border: 0.5rem solid transparent;
			border-top: 0.6rem solid $base-color;
			top: 85%;
			right: 2.4rem;
			transition: $base-transition;
			transform: translateY(-85%) rotate(0);
		}
	}

	&__btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		&.active {
			.accordions__icon {
				&::before {
					transform: translate(8%, -210%);
					border-bottom: 0.6rem solid #000;
					border-top: 0;
				}
			}
		}

		h3 {
			font-size: 1.8rem;
			font-weight: 750;
			pointer-events: none;
			padding: 1.6rem;
			@media (min-width: 768px) {
				font-size: 2rem;
				padding: 1.6rem 2.4rem;
			}
		}
	}

	&__content {
		//max-height: 0;
		transition: $base-transition;
	}

	&__descr {
		background-color: $white;

		p {
			font-size: 1.6rem;
			font-weight: normal;
			line-height: 1.5;
			padding: 1.6rem;
			@media (min-width: 768px) {
				font-size: 2rem;
				font-weight: 400;
				padding: 0 2.4rem;
				& + p {
					margin-top: 1.4rem;
				}
			}
		}
	}
}
